/.venv/
.idea
bonus
exercise for ide
journal
files
a.txt
b.txt
c.txt
add member.py
bug fixing.py
directory.py
e3.py
e4.py
e5.py
e6.py
members.txt
multiple files generate.py
parsers14.py
presentation.txt
random_no.py
read files and print.py
report.txt
test.py
weather.csv
doc.txt
output.zip
e2.py
